RewriteEngine On
RewriteRule ^css(.*)UXMGIRD[0-9]+(.*)$ css$1$2 [N,NC,L]
RewriteRule ^js(.*)UXMGIRD[0-9]+(.*)$ js$1$2 [N,NC,L]
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]
