.columnA {
    position: absolute;
    width: 160px;
}
.columnB {
    margin-left: 180px;
    margin-right: 10px;
}

/* Worship Time, Keep In Touch, and Contact */
.worshipTime img, .keepInTouch img, .contact img {
     position: absolute;
     top: -18px;
     left: 4px;
}

.worshipTime, .keepInTouch, .contact {
    position: relative;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px; 
    -khtml-border-radius: 6px;
    padding: 15px 5px 5px 5px;
    border: 1px solid #6E7CC4; /* Fallback if box-shadow not supported */
    background-color: #F4F5F9;
}

.keepInTouch, .contact {margin-top: 23px}

.worshipTime {
    margin-top: 15px;
    background-image: url('/images/index/index/worship_time/background.png');
    background-repeat: no-repeat;
    background-position: center;
}

/* Picture Slides Styles */
#slides {
    float: right;
    margin-left: 10px;
}
