.columnA {
    position: absolute;
    width: 160px;
}
.columnB {margin-left: 170px}

/* Worship Time, Keep In Touch, and Contact */
.worshipTime img, .keepInTouch img, .contact img {
     position: absolute;
     top: -18px;
     left: 4px;
}

.worshipTime, .keepInTouch, .contact {
    position: relative;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px; 
    -khtml-border-radius: 6px;
    padding: 15px 5px 5px 5px;
    border: 1px solid #6E7CC4; /* Fallback if box-shadow not supported */
    box-shadow: inset 0 0 5px #6E7CC4;
}

.keepInTouch, .contact {margin-top: 23px}

.worshipTime {
    margin-top: 15px;
    background-image: url('/images/index/index/worship_time/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px 100px;
}

/* Slideshow */
#slides {
    float: right;
    text-align: center;
    margin-left: 10px;
}
#slides a {
    margin-left: 10px;
    text-decoration: none;
    color: #404D91;
    font-weight: bold;
}
.slides_container {
    width: 260px;
    height: 200px;
    border: 1px solid #6E7CC4; /* Fallback if box-shadow not supported */
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px; 
    -khtml-border-radius: 6px;
}
.slides_container img {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    -khtml-border-radius: 5px;

}
.slides_container div {
    width: 260px;
    height: 200px;
    display: block;
}
