section {text-align: center}
.newsAdmin {
    margin-top: 10px;
}
.newsAdmin section, #newsBodyPreview {
    margin-left: auto;
    margin-right: auto;
}
.newsAdmin section, #newsBodyPreview, #newsBody {width: 700px}
#newsBodyPreview {
    padding: 5px;
    text-align: left;
    min-height: 75px;
    border: 1px dotted #000;
}
#newsTitle {width: 200px} 
