.details {
    margin-left: 50%;
    border-left: 1px solid #143D66;
    padding: 5px;
}
.details p {margin: 2px}
.details section {padding-bottom: 25px}
.map {
    float: left;
    display: block;
}
